@model KeepTrack.Core.DTOs.EditUserProjectViewModel

@{
    ViewBag.Title = "ویرایش";
}

@using (Html.BeginForm("EditProject", "Projects", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" value="@Model.Id" />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.StateTypes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <select id="stateTypeId" name="stateTypeId">
                @foreach (var item in Model.StateTypes)
                {
                    <option value="@item.Id" @(item.Id == Model.StateTypeId ? "selected" : "")>@item.Name</option>
                }
            </select>

            @Html.ValidationMessageFor(model => model.StateTypes, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.ProjectTypes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <select id="projectTypeId" name="projectTypeId">
                @foreach (var item in Model.ProjectTypes)
                {
                    <option value="@item.Id" @(item.Id == Model.ProjectTypeId ? "selected" : "")>@item.Name</option>
                }
            </select>

            @Html.ValidationMessageFor(model => model.ProjectTypes, "", new { @class = "text-danger" })
        </div>
    </div>


    if (ViewBag.admin != null)
    {
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Users, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <select id="userId" name="userId">
                    @foreach (var item in Model.Users)
                    {
                        <option value="@item.Id" @(item.Id == Model.UserId ? "selected" : "")>@item.Name</option>
                    }
                </select>

                @Html.ValidationMessageFor(model => model.ProjectTypes, "", new { @class = "text-danger" })
            </div>
        </div>
    }


    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ویرایش" class="btn btn-success" />
            <input type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close" value="بستن" />
        </div>
    </div>

}

