@model KeepTrack.Core.DTOs.RestoreOrDeleteProjectViewModel
@{
    ViewBag.Title = "حذف پروژه";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">حذف پروژه</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                اطلاعات پروژه
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>نام : </label>
                    <input type="text" disabled class="form-control" value="@Model.Name">
                </div>
                <div class="form-group">
                    <label>توضیحات : </label>
                    <input type="email" disabled class="form-control" value="@Model.Description">
                </div>
                <div class="form-group">
                    <label>نام کاربر : </label>
                    <input type="email" disabled class="form-control" value="@Model.UserName">
                </div>
                <div class="form-group">
                    <label>نوع : </label>
                    <input type="email" disabled class="form-control" value="@Model.ProjectTypeName">
                </div>
                <div class="form-group">
                    <label>وضعیت : </label>
                    <input type="email" disabled class="form-control" value="@Model.ProjectStateName">
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Delete", "Projects", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.Id"/>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 2rem">
                    حذف پروژه
                </div>
                <div class="panel-body">
                    <div class="row col-md-12">
                        <p style="text-align: center">
                            <input style="font-size: 2rem; width: 60%;" type="submit" value="حذف" class="btn btn-danger" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>