@model KeepTrack.Core.DTOs.ProjectsForAdminViewModel
@{
    ViewData["Title"] = "پروژه های حذف شده";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست پروژه های حذف شده</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @if (!string.IsNullOrWhiteSpace(Request.QueryString["filterUsername"]) && !string.IsNullOrWhiteSpace(Request.QueryString["filterName"]))
                {
                    <p style="font-size: 20px; font-weight:bold "> نمایش نتایج برای : </p>
                    <p style="font-size: 18px; font-weight:bold "> نام کاربر : @Request.QueryString["filterUsername"]</p>
                    <p style="font-size: 18px; font-weight:bold "> نام : @Request.QueryString["filterName"]</p>
                    <p style="font-size: 18px; font-weight:bold ">تعداد : @Model.Projects.Count</p>
                }
                else if (!string.IsNullOrWhiteSpace(Request.QueryString["filterUsername"]))
                {
                    <p style="font-size: 20px">نمایش نتایج برای  :</p>
                    <p style="font-size: 18px; font-weight:bold "> نام کاربر : @Request.QueryString["filterUsername"]</p>
                    <p style="font-size: 18px; font-weight:bold ">تعداد : @Model.Projects.Count</p>
                }
                else if (!string.IsNullOrWhiteSpace(Request.QueryString["filterName"]))
                {
                    <p style="font-size: 20px">نمایش نتایج برای : </p>
                    <p style="font-size: 18px; font-weight:bold "> نام : @Request.QueryString["filterName"]</p>
                    <p style="font-size: 18px; font-weight:bold ">تعداد : @Model.Projects.Count</p>
                }
                else
                {
                    <p style="font-size: 20px; font-weight:bold ">نمایش نتایج</p>
                    <p style="font-size: 18px; font-weight:bold ">تعداد : @Model.Projects.Count</p>
                }
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row" style="margin: 5px 0 0 0;">
                            <form>
                                <div class="col-sm-4 col-md-4">
                                    <label style="width: 28%; font-size: 20px;margin: 2px 0 0 0; float: right;">نام کاربری :</label>
                                    <input style="width: 70%; font-size: 17px;float: right;" type="text" name="filterUsername" value="@(ViewData["username"])" class="form-control" />
                                </div>
                                <div class="col-sm-5 col-md-5">
                                    <label style="width: 15%; font-size: 20px; margin: 2px 0 0 0;float: right;">نام :</label>
                                    <input style="width: 70%; font-size: 17px;float: right;" type="text" name="filterName" value="@(ViewData["name"])" class="form-control" />

                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <button style="width: 40%;float: right;margin: -2px 0 0 10px; font-size: 18px" type="submit" class="btn btn-github btn-info">
                                        جستجو
                                    </button>
                                    <a href="/admin/projects/deleted" style="width: 40%;float: right;margin: -2px 0 0 10px; font-size: 18px" class="btn btn-default">
                                        ریست
                                    </a>
                                </div>
                            </form>
                        </div>
                        <hr />
                        <div class="col-md-12" style="margin: 10px 0 15px 0">
                            <a href="/admin/projects" style="font-size: 2rem;margin-right: 0.5vw" class="btn btn-primary">
                                نمایش پروژه ها
                            </a>
                        </div>
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info" style="font-size: 18px">
                            <thead>
                                <tr>
                                    <th>نام</th>
                                    <th>نام کاربر</th>
                                    <th>نوع</th>
                                    <th>وضعیت</th>
                                    <th>دستورات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var project in Model.Projects)
                                {
                                    <tr>
                                        <td>@project.Name</td>
                                        <td>@project.ApplicationUser.Name</td>
                                        <td>@project.ProjectType.Name</td>
                                        <td>@project.StateType.Name</td>
                                        <td>
                                            <a href="/projects?projectId=@project.Id" style="font-size:18px" class="btn btn-warning btn-sm">
                                                نمایش
                                            </a>
                                            <a href="/admin/projects/restore?projectId=@project.Id" style="font-size:18px" class="btn btn-success btn-sm">
                                                بازگردانی
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                    <ul class="pagination">
                                        @{
                                            var pageTotal = Model.PageCount;
                                            var counter = 1;
                                        }
                                        @while (pageTotal > 0)
                                        {
                                            <li class="paginate_button @(counter == Model.CurrentPage ? "active" : "")" aria-controls="dataTables-example" tabindex="0">
                                                <a href="/admin/users?pageId=@counter">@counter</a>
                                            </li>
                                            pageTotal -= 10;
                                            counter++;
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>